<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zj.infinitechat.friendmomentservice.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.zj.infinitechat.friendmomentservice.model.User">
            <id property="userId" column="user_id" />
            <result property="userName" column="user_name" />
            <result property="password" column="password" />
            <result property="email" column="email" />
            <result property="phone" column="phone" />
            <result property="avatar" column="avatar" />
            <result property="signature" column="signature" />
            <result property="gender" column="gender" />
            <result property="status" column="status" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,user_name,password,email,phone,avatar,
        signature,gender,status,created_at,updated_at
    </sql>
</mapper>
